<div class="jobs">
{{#each this}}
<div class="card mb-2">
    <div class="card-body">
        <h4 class="card-title">{{ owner.first_name }} {{ owner.last_name }}</h5>
        <h5 class="card-text">Pet: {{ pet.pet_name }}</h5>
        <h5 class="card-subtitle">Visit: {{#if walk }}Walk{{/if}}{{#if check_in }}Check-In{{/if}}</h6>
        <h5 class="card-text">Pay: {{ this.pay }}</h5>
        <h6 class="card-text text-muted">Time: {{ this.timeframe }}</h6>
        <h6 class="card-text text-muted">Location: {{ this.location }}</h6>
        {{!-- (HELPER) function that determines if the person logged in is the creator of this job and it's active--}}
        {{#unless completed}}
        <button id="delete-job" class="float-right btn success" type="button">Delete</button>
        {{/unless}}
        {{!-- (HELPER) if logged in as walker and job not accepted --}}
        {{#if acceptable}}
        <button id="accept-job" class="float-right btn success" type="button">Accept</button>
        {{/if}}
    </div>
</div>
{{/each}}
</div>


